.image-uploader {
  border: 2px dashed #ccc;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease;
  background: #fafafa;
}
.image-uploader button {
  color: var(--color-primary);
  border: 2px solid var(--color-primary);
}
.image-uploader button:hover {
  background: var(--color-primary);
  color: var(--color-bg-card);
}

.image-uploader input {
  display: none;
}

.image-uploader p {
  margin: 0;
  font-size: 14px;
  color: var(--color-primary);
}

.image-uploader img {
  margin-top: 12px;
  max-width: 150px;
  border-radius: 8px;
  border: 1px solid #eee;
}
