.auth-container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  /* Background phong cách du lịch */
  background: url("../../assets/images/travel-bg.jpg") no-repeat center
      center/cover,
    linear-gradient(to right, #2193b0, #6dd5ed);
}

.auth-card {
  background: rgba(255, 255, 255, 0.9);
  padding: 30px 40px;
  border-radius: 16px;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
  width: 100%;
  max-width: 420px;
  text-align: center;
}

.auth-card h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #006994; /* xanh biển */
}

.form-group {
  text-align: left;
  margin-bottom: 16px;
}

.form-group label {
  font-weight: 600;
  color: #004466;
  display: block;
  margin-bottom: 6px;
}

.form-group input {
  width: 100%;
  padding: 10px 12px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 15px;
}

.auth-btn {
  width: 100%;
  padding: 12px;
  background: linear-gradient(to right, #e4b6e4, #db2f8e);
  border: none;
  border-radius: 8px;
  color: white;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;

  display: flex; /* thêm */
  justify-content: center; /* căn giữa ngang */
  align-items: center; /* căn giữa dọc */
}

.auth-btn:hover {
  background: linear-gradient(to right, #cfdd7d, #bba048);
}

.auth-btn[disabled] {
  opacity: 0.6;
  cursor: not-allowed;
}

.re-auth {
  width: 50%;
  padding: 5px;
  background: linear-gradient(to right, #d67f4d, #d65d0c);
  border: none;
  border-radius: 8px;
  color: white;
  font-weight: bold;
  font-size: 10px;
  cursor: pointer;
  transition: 0.3s;
  margin-top: 20px;
  display: flex; /* thêm */
  justify-content: center; /* căn giữa ngang */
  align-items: center; /* căn giữa dọc */
}
.otp-hint {
  margin-bottom: 10px;
  font-size: 14px;
  opacity: 0.9;
}

/* Nút phụ */
.auth-btn.secondary {
  background: #475569;
  margin-top: 10px;
}
.auth-btn.secondary:hover {
  background: #334155;
}
